stored_images
.idea/misc.xml
.idea/proj-camera-controller.iml
*.pyc
__pycache__/
modules/Datacollection/conveyor.mp4
*.avi
*.ipynb
*.weights
.idea/vcs.xml

evaluate/
.idea/*

# Testing Ignores
/Testing/*
# Dataset exeptions
!/Testing/Scripts/

# Dataset Ignores
/Datasets/*
# Dataset exeptions
!/Datasets/CADRender.png
!/Datasets/GenROI.py
!/Datasets/Load_from_Json.py
!/Datasets/README.md

# Dataset Ignores
/modules/NeuronalNetworks/*
# Dataset exeptions
!/modules/NeuronalNetworks/Autoencoder
!/modules/NeuronalNetworks/V7Seg
!/modules/NeuronalNetworks/Pretrained
!/modules/NeuronalNetworks/Environments
!/modules/NeuronalNetworks/README.md
/Unreal Engine/

/SemiSupervisedSortingCurrent/*
